
/*************************
CONTACTME SECTION starts
***********************/

input, textarea {
    all: unset;
  }

.contactme{
    flex-direction: column;
    background-color: var(--section01-light);
}

.contactme-form{       
    /* color: var(--gray-light);     */
}
.contactme-form__input{
    /*margin: 0.2em 1em;    */
    display: flex;
    flex-direction: column;
    margin: 0.8em  auto 0.8em auto;      
    
    width: 80%;     
    max-width: 600px;
}

.contactme-form__input__label{
    
    font-family: 'Montserrat', sans-serif;
    font-size: 0.9em;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 0.1em;
    cursor: pointer;
}
.contactme-form__input__input{
    font-size: 0.9em;
    padding: 0.8em 0.6em;        
    color: var(--section04-dark);
    background-color: #fff;   
    border-radius: 5px;   
    border: var(--section02-normal) solid 1px; 
}
.contactme-form__input__message{
    height: 14em;    
    padding: 0.4em 1.2em;
    font-size: 0.9em;   
    line-height: 1.5em; 
    color: var(--section04-dark);
    background-color: #fff;  
    border: var(--section02-normal) solid 1px;  
    border-radius: 5px;           
    resize: none;
}

.contactme-form__btn{    
    cursor: pointer;
}

.contactme-form__input__input:focus,
.contactme-form__input__message:focus{    
    color: var(--midnight-green);
    background-color: #fff;
    text-align: left;
}

/*************************
CONTACTME SECTION ends
***********************/