

  @import url('https://fonts.googleapis.com/css2?family=Courier+Prime:wght@400;700&family=Montserrat:wght@300;400;600&display=swap');
  /*
  @import url('general.css');
  @import url('btn-floating.css');
  @import url('header_and_navbar.css');
  @import url('section.css');
  @import url('projects.css');
  @import url('contactme.css');
  @import url('footer.css');
  @import url('aboutme.css');
  @import url('myskills.css');
  @import url('mylinks.css');


font-family: 'Courier Prime', monospace;
font-family: 'Montserrat', sans-serif;
*/  

  
/* General Styles starts*/
:root{
    /*Basic colors*/
    --midnight-green: hsl(195, 83%, 16%);
    --blue-NCS: hsl(195, 83%, 38%);    
    --caribbean-green: #06d6a0;
    --yellow-crayola: #ffd166;
    --paradise-pink: #ef476f; 
    /*Basic colors*/

    /*Basic colors*/
    --section01-normal: hsl(195, 83%, 16%);
    --section02-normal: hsl(195, 83%, 38%);    
    --section03-normal: hsl(164, 95%, 43%);
    --section04-normal: #ffd166;
    --section05-normal: #ef476f; 
    /*Basic colors*/

    /*light colors light to the 90% */
    --section01-light: hsl(193, 80%, 90%);
    --section02-light: hsl(195, 85%, 95%);
    --section03-light: hsl(164, 96%, 95%);
    --section04-light: hsl(42, 100%, 95%);
    --section05-light: hsl(346, 84%, 95%); 
    /*light colors light to the 90% */

    /*dark colors light to the 10% */
    --section01-dark: hsl(193, 80%, 10%);
    --section02-dark: hsl(195, 84%, 10%);
    --section02-darker: hsl(195, 84%, 2%);
    --section03-dark: hsl(164, 96%, 10%);
    --section04-dark: hsl(42, 100%, 10%);
    --section05-dark: hsl(346, 84%, 10%); 
    /*dark colors light to the 10% */


    --blue-NCS-transparent: rgba(17, 138, 178, 0.9);
    --gray-light: #eeeeee;
    --ff-titles: 
}
*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    width: 100vw;    
  }

body{        
      
    font-family: 'Courier Prime', monospace;     
    background-color: var(--section02-darker);
}

.icon{
    font-size: 1.4em;    
}

.icon-img-format{
    width: 50px;
    height: 50px;
}
.color-light{
    color: #fff!important;
}

.btn{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 0.9em;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0.8em;
    background-color: rgba(5, 37, 46, 0.1);    
    color: #000; 
    border: rgb(5, 37, 46) solid 2px; ;   
    border-radius: 5px;
    transition: background-color 0.25s ease-in-out;
    cursor: pointer;
}
.btn:hover{
    background-color: rgba(5, 37, 46, 0.4);
    color: var(--section01-light);
    transition: background-color 0.25s ease-in-out;
}

.breadcrumb {
    padding-left: 4rem;
}

.breadcrumb ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    gap: 0.5em;
    margin: 0em 0 1em 0em ;
    padding: 2em 0 0 0 ;    
}

.breadcrumb li{
    font-size: 1.2em;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 1em;    
}
.breadcrumb a {
    color: var(--section01-normal);
}
    
.breadcrumb li:not(:last-child)::after {
    display: inline-block;
    margin: 0 .25rem;
    content: "→";
}


/* General Styles ends*/

/*btn-floating starts*/
.btn-floating{
    position: fixed;
    padding: 0.7em 1em;
    border-radius: 5px;
    font-size: 0.7em;
    border: #073b4c solid 2px;
    color: var(--midnight-green);
    background-color: var(--gray-light);
    z-index: 4;
    text-decoration: none;
}


.top_arrow{    
    bottom: 8vh;
    right: 1.7em;    
    padding: 0.8em 0.5em;
    opacity: 0;
    transform: scale(0);
    transition-property: transform, opacity;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out    
}
.top_arrow_show{
    opacity: 0.5;
    transform: scale(1);

    transition-property: transform, opacity;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out
}

.top_arrow_icon {    
    height: 35px;    
    width: 35px;
}

 .left_arrow_icon{
    height: 35px;    
    width: 35px;
}

.left_arrow{
    top: 7em;
    left: 1em; 
    opacity: 0.5;  
    padding: 0.3em  0.8em;
}

@media (min-width: 800px){
    .top_arrow{
        right: 4vw;
        font-size: 1em;
    }
}
/*btn-floating ends*/


/******************************
Header starts
*****************************/
        /*header and navbar starts*/
        .header{
            height: 4rem;
            width: 100vw;
            position: sticky;    
            top: 0px;
            left: 0px;
            z-index: 5;
            box-shadow: 4px 4px 15px -2px rgba(0,0,0,0.75);
            background-color: var(--section01-normal);
            color: var(--section01-light);
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 1.2em 1em;            
        }

        .header-container{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            height: 3em;
            width: 100%;
        }

        .header__logo-container__title{
            font-family: 'Montserrat', sans-serif;
            font-size: 1.2em;    
            text-align: center;
            text-transform: uppercase;
            margin-left: 0.5em;
            width: 200px;
        }

        .header_navbar-mobile_social{
            width: 30px;
            
        }

        .header__logo-container{
            display: flex;
            flex-direction: row;
            align-items: center;
            text-decoration: none;
        }        

        .header__logo-container__icon{
            cursor: pointer;
            width: 30px;
        }

       
        
        .header__navbar{
            position: fixed;
            display: flex;
            flex-direction: column;
            align-items: center;            
            top: -100%;
            left: 0;
            padding-top: 1rem;
            background-color: var(--section01-normal);
            opacity: 0.8;
            width: 100vw;
            height: 100%;     
            transition: all 0.5s ease-in-out;      
            
        }        

        #menu-toggle{
            display: none;            
        }
        #menu-toggle:checked ~ .header__navbar {
            top: 0%;
            transition: all 0.5s ease-in-out;
        }        
                 
        
        #header__btn-menu-close{                    
            margin-left: 85vw;
        }
        
        .header__navbar-mobile__list{   
            display: flex;                        
            flex-direction: column; 
            justify-content: center;
            align-items: center;
            gap: 0.6rem;
            list-style: none; 
        }
        .header__navbar-mobile__list__item{
            text-align: center;
            width: 100%;                        
            border-bottom: var(--section01-light) solid 2px;   
            padding-bottom: 0.5em;
        }

        .header__navbar-mobile__list__item:last-child{
            border: none;            
        }

        .header__navbar-mobile__link{
            text-decoration: none;
            font-size: 1.2em;                
            font-family: 'Montserrat', sans-serif;;
            text-transform: uppercase;
            color: var(--section01-light);
            padding: 0;
        }

        .navbar-selected{
          color: var(--section03-normal) ;          
      }
      
        @media (min-width: 768px){
            
            
            #header__btn-menu-open{
                display: none;
            }
            .header__navbar{                          
               position: static;     
               transition: none;                   
               justify-content: center;                                  
            }   
            #header__btn-menu-close{
                display: none;                
            }       
            
            .header__navbar-mobile__list{
            width: 50%;                
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            gap: 1.5em;
            padding-right: 4em;
        }
        .header__navbar-mobile__list__item{
            font-size: 0.8em;
            border-bottom: none;     
        }
        #social__links__navbar {
            display: none;
        }

        .navbar-selected{
          color: var(--section03-normal) ;
          border-bottom: var(--section04-light) solid 3px;          
      }

      .header__navbar-mobile__link{
        padding: 0.2em;
      }
      .header-container{
        width: 1000px;

      }
            
        }
        /*header and navbar ends*/



/******************************
Header ends
*****************************/


/* Section.css starts*/
.section{
    /* background-color: var(--midnight-green);  */
   color: var(--section01-dark);    
   display: flex;
   flex-direction: column;
   padding: 3em 1.4em 1em 1.4em;
   font-size: 1.1em;
   border-bottom: var(--section01-dark) solid 1px;
}


.section__image__container{
   width: 100%;   
   min-width: 300px;
   position: relative;
   display: flex;
   align-self: center;    
}
.section_image{
   width: 100%;   
   min-width: 300px;
   height: 100%;
   max-height: 250px;
   object-fit: cover;
   filter: brightness(70%);
   object-position: center;
   border: #000000 solid 2px;
}

.section__image__container,
.section_image {
    max-width: 100%;
}

.section_image__container-btn-download{
   position: absolute;    
   bottom: 0px;
   right: 0px;
   min-width: 130px;
   border: var(--section04-dark) solid 2px;
   background-color: rgba(255, 255, 255, 0.7);
   border-radius:  5px 0 0 0;
   border-bottom: none;
   border-right: none;      
   padding: 0.5;  
   
}
.section__btn__icon {
   width: 20px;
   height: 20px;
}

.section__sidetext__container{
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   padding: 0 1em;
}

.section__title__container{
   display: flex;
   flex-direction: row;
   justify-content: left;
   align-items: center;
   margin: 0.8em 0;    
}

.section__title__container__icon{
   width: 25px;
   height: 25px;    
}

.section_title{
   font-family: 'Montserrat', sans-serif;
   font-weight: 700;
   text-transform: uppercase;
   font-size: 1em;
   margin-left: 1em;
}

.section__description__container{       
   font-weight: 300;
   line-height: 1.7em;    
   word-wrap:break-word;
   width: 100%;    
   font-size: 0.9em;
   margin: 0.8em 0; 
   display: flex;
   flex-direction: column;
   gap: 2em;
}

.section__btn{
   display: flex;
   width: 100%;
   gap: 0.5em;
   justify-content: center;
   align-items: center;
}


@media (min-width: 800px){
   .section{
       display: flex;
       flex-direction: row;
   }
   .section__image__container{
       width: 100%;
       align-self: flex-start;
   }

   .section_image{
    width: 100%;   
    min-width: 300px;
    min-height: 400px;
    
    object-fit: cover;
    filter: brightness(60%);
    object-position: center;
    border: #000000 solid 2px;
 }
}

/* Section.css ends*/

/*******************************
RECENT PROJECTS container starts
*************************/
.projects{
    flex-direction: column;    
    background-color: var(--section04-light);    
}
.recentprojects__container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;  
    justify-content: center; 
    gap: 1em;
    margin-top: 1rem;
}

.recentprojects-project{    
    width: 100%;
    max-width: 350px;
    height: auto;    
    margin-bottom: 1em;
    border: var(--midnight-green) 3px solid;
    background-color: var(--section02-light);
    border-radius: 10px;
    box-shadow: 4px 4px 20px -4px rgba(0,0,0,0.75);
    position: relative;
    overflow: hidden;
}

.recentprojects-project__img-container{
    position: relative;
    max-width: inherit;
}

.recentprojects-project__img-container__img{
    object-fit: cover;
    object-position: center;  
    height: 200px;
    width: 100%;
    max-width: inherit;    
    margin: 0;    
    filter: brightness(80%);     
    border: var(--midnight-green);
}

.recentprojects-project-info{    
    padding: 0.4em 1em;
}

.recentprojects-project-info__title{            
    color: var(--midnight-green);       
    margin: 0;  
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    line-height: 1.4em;
    font-size: 0.8em;
    font-weight: 600;    
}

.recentprojects-project-info__tags-container {
    width: 100%;
    margin: 1em 0 0.5em 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
     gap: 0.4em; 
    justify-content: flex-start;
}

.tecnology-tag {
    font-size: 0.8em;
    padding: 0.6em 0.8em;    
    border-radius: 10px;
    background-color: var(--section02-dark);
    color: var(--section02-light);
}

.recentprojects-project__btn{
    position: absolute;
    bottom: 50px;
    left: 100px;    
    color: var(--section04-light);
    background-color: rgba(0,0,0,0.2); 
    letter-spacing: 0.2em;
    border: none;
    font-weight: 400;
    font-size: 1.1em;
    filter: drop-shadow(4px 4px 2px rgb(0 0 0 / 0.7));
}
.recentprojects-project__btn:hover{
    background-color: rgba(1,1,1,0.1);
}

@media (min-width: 1000px){
    .recentprojects-project{
        max-width: 330px;
    }

.recentprojects__container{
    justify-content: space-around;
}
}

/*******************************
RECENT PROJECTS container ends
*************************/


/*************************
CONTACTME SECTION starts
***********************/

input, textarea {
    all: unset;
  }

.contactme{
    flex-direction: column;
    background-color: var(--section01-light);
}

.contactme-form{       
    /* color: var(--gray-light);     */
}
.contactme-form__input{
    /*margin: 0.2em 1em;    */
    display: flex;
    flex-direction: column;
    margin: 0.8em  auto 0.8em auto;      
    
    width: 80%;     
    max-width: 600px;
}

.contactme-form__input__label{
    
    font-family: 'Montserrat', sans-serif;
    font-size: 0.9em;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 0.1em;
    cursor: pointer;
}
.contactme-form__input__input{
    font-size: 0.9em;
    padding: 0.8em 0.6em;        
    color: var(--section04-dark);
    background-color: #fff;   
    border-radius: 5px;   
    border: var(--section02-normal) solid 1px; 
}
.contactme-form__input__message{
    height: 14em;    
    padding: 0.4em 1.2em;
    font-size: 0.9em;   
    line-height: 1.5em; 
    color: var(--section04-dark);
    background-color: #fff;  
    border: var(--section02-normal) solid 1px;  
    border-radius: 5px;           
    resize: none;
}

.contactme-form__btn{    
    cursor: pointer;
}

.contactme-form__input__input:focus,
.contactme-form__input__message:focus{    
    color: var(--midnight-green);
    background-color: #fff;
    text-align: left;
}

/*************************
CONTACTME SECTION ends
***********************/

/*************************
FOOTER SECTION starts
***********************/
.footer{
    min-height: 200px; 
    padding:  1em;
    background-color: var(--section01-normal);
    color: var(--section01-light);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;    
    gap: 0.8em;
}
.footer-leftside, .footer-rightside{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}



.footer-social, .footer-direct-msgs, .footer-copyrights{    
    display: flex;
    flex-direction: column;
    align-items: center; 
    width: 100%;
    gap: 1em;
    padding: 0.4em 0;
    border-bottom: var(--section03-normal) solid 1px;  
    
}
.footer-copyrights{
    border: none;    
    padding: 0 0em 0.5em 0em; 
}
.footer-title{
    font-family: 'Courier Prime', monospace;
    font-size: 1em;
    font-weight: 300;
    letter-spacing:0.2em;
}
.footer-icons-container{
    display: flex;
    flex-direction: row;
    align-items: center;    
}
.footer-icons{
    color: var(--section04-light);
    font-size: 1.8em;
    margin: 0 0.5em;   
}

.footer-paragraph{
    width: 92%;
    text-align: center;
    font-size: 0.9em;
    line-height: 1.6em;  
    padding: 0.5em;  
    word-wrap: break-word;
    word-break: keep-all;
}

.footer-link{
    color: var(--section04-normal);    
}

@media (min-width: 600px){
    .footer{
        flex-direction: row;  
        align-items: flex-start;      
    }

    .footer-rightside{
        width: 60%;
        border-left: var(--section03-normal) solid 1px;          
    }
    .footer-paragraph{
        width: 100%;
        font-size: 0.9em;
        line-height: 1.8em;
    }
    .footer-leftside{
        width: 38%;        
    }
    .footer-social, .footer-direct-msgs{
        border: none;
    }
}

/*************************
FOOTER SECTION ends
***********************/

/*Aboutme starts*/

.aboutme{
    
    background-color: var(--section01-light);
    padding-top: 4em;
}

.aboutme-main__title{
    position: absolute;
    width: 100%;
    top: 4rem;
    text-align: center;    
}
.aboutme-main{
    display: flex;
    flex-direction: column;
    background-color: var(--section01-light); 
    color: var(--section01-dark);
    padding: 1rem;
    gap: 1.4rem;
    padding-top: 4.5rem;
}

.aboutme-main__column{
    padding: 0rem;
}

.aboutme-main__column__paragraph{
    line-height: 1.6rem;
    letter-spacing: 0.02rem;
    font-weight: 300;
}

.aboutme-main__link{    
    color: var(--section02-normal);
    word-break:keep-all;
    font-weight: 700;
}


@media (min-width: 1000px){
    
    .aboutme-main {
        flex-direction: column;
        justify-content: space-between;
        
    }
    .aboutme-main__column{
        width: 30%;
    }
}

/*Aboutme ends*/

/*Myskills starts*/

.myskills{
    background-color: var(--section03-light);
    flex-direction: column-reverse;
}
/*Slider con las tecnologias*/
.myskills_showcase{
    background-color: #fff;
    padding: 2em;    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1.5em;
    align-items: center;
    flex-wrap: nowrap;    
    border: none;
    border-top: var(--section04-dark) solid 1px;
    border-bottom: var(--section04-dark) solid 1px;
    overflow-x: auto;    
}


.myskills_showcase_image{
    width: 50px;   
    height: auto;
    color: #06d6a0;
}
.myskills_showcase_image:hover{
    
    /*border-bottom: solid 4px var(--midnight-green);    */
    transform: scale(1.05);
    
}

@media (min-width: 800px){
    .myskills{
        flex-direction: row;
    }
    .myskills_showcase{
        flex-wrap: wrap;        
        border: none;
        border-left: var(--section04-dark) solid 1px;
        border-right: var(--section04-dark) solid 1px;
    }
}

/*Myskills ends*/


.mylinks{
    background-color: var(--section02-light);
    display: flex;
    flex-direction: column;
}

.container{    
    width: 100vw;    
    /* box-shadow: 4px 4px 20px -4px rgba(0,0,0,0.75); */
}

/*view for bigger viewports */
@media (min-width: 1000px){
    .container{
        width: 64vw;
        max-width: 1200px;
        min-width: 1000px; 
        margin: 0 auto;
        /*padding: 2em;        
         box-shadow: 4px 4px 20px -4px rgba(0,0,0,0.75); */
    }  

    .aboutme{
        flex-direction: row;
    }

    .aboutme__title__container{
        width: 80%;
    }

    .aboutme_title{
        width: 50%;
    }
    .aboutme__image__container{
        width: 100%;        
    }

    .aboutme__textcontent__more{
        width: 60%;
        padding:  4em  1.2em 0.8em 1.2em;
        align-self: flex-start;
        justify-content: left;
    }
}
