/* Section.css starts*/
.section{
    padding: 1em 1.4em 1em 1.4em;
    font-size: 1.1em;
    border-bottom: var(--section01-dark) solid 1px;
    gap: 0;    
}
.section__sidetext__container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 1em;
}
.section__title__container{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    margin: 0.8em 0;    
}
.section__title__container__icon{
    width: auto;
    height: 40px;    
}
.section_title{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1em;
    margin-left: 1em;
}
.section__description__container{       
    font-weight: 300;
    line-height: 1.7em;    
    word-wrap:break-word;
    width: 100%;    
    font-size: 0.9em;
    margin: 0.8em 0; 
    display: flex;
    flex-direction: column;
    gap: 2em;
}
.section__btn{
    display: flex;
    width: 100%;
    gap: 0.5em;
    justify-content: center;
    align-items: center;
}
/* Section.css ends*/