/*Aboutme starts*/

.aboutme{
    
    background-color: var(--section01-light);
    padding-top: 4em;
}

.aboutme-main__title{
    position: absolute;
    width: 100%;
    top: 4rem;
    text-align: center;    
}
.aboutme-main{
    display: flex;
    flex-direction: column;
    background-color: var(--section01-light); 
    color: var(--section01-dark);
    padding: 1rem;
    gap: 1.4rem;
    padding-top: 4.5rem;
}

.aboutme-main__column{
    padding: 0rem;
}

.aboutme-main__column__paragraph{
    line-height: 1.6rem;
    letter-spacing: 0.02rem;
    font-weight: 300;
}

.aboutme-main__link{    
    color: var(--section02-normal);
    word-break:keep-all;
    font-weight: 700;
}


@media (min-width: 1000px){
    
    .aboutme-main {
        flex-direction: column;
        justify-content: space-between;
        
    }
    .aboutme-main__column{
        width: 30%;
    }
}

/*Aboutme ends*/