/*************************
FOOTER SECTION starts
***********************/
.footer{
    min-height: 200px; 
    padding:  1em;
    background-color: var(--section01-normal);
    color: var(--section01-light);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;    
    gap: 0.8em;
}
.footer-leftside, .footer-rightside{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}



.footer-social, .footer-direct-msgs, .footer-copyrights{    
    display: flex;
    flex-direction: column;
    align-items: center; 
    width: 100%;
    gap: 1em;
    padding: 0.4em 0;
    border-bottom: var(--section03-normal) solid 1px;  
    
}
.footer-copyrights{
    border: none;    
    padding: 0 0em 0.5em 0em; 
}
.footer-title{
    font-family: 'Courier Prime', monospace;
    font-size: 1em;
    font-weight: 300;
    letter-spacing:0.2em;
}
.footer-icons-container{
    display: flex;
    flex-direction: row;
    align-items: center;    
}
.footer-icons{
    color: var(--section04-light);
    font-size: 1.8em;
    margin: 0 0.5em;   
}

.footer-paragraph{
    width: 92%;
    text-align: center;
    font-size: 0.9em;
    line-height: 1.6em;  
    padding: 0.5em;  
    word-wrap: break-word;
    word-break: keep-all;
}

.footer-link{
    color: var(--section04-normal);    
}

@media (min-width: 600px){
    .footer{
        flex-direction: row;  
        align-items: flex-start;      
    }

    .footer-rightside{
        width: 60%;
        border-left: var(--section03-normal) solid 1px;          
    }
    .footer-paragraph{
        width: 100%;
        font-size: 0.9em;
        line-height: 1.8em;
    }
    .footer-leftside{
        width: 38%;        
    }
    .footer-social, .footer-direct-msgs{
        border: none;
    }
}

/*************************
FOOTER SECTION ends
***********************/